.card {
  width: 10rem;
  height: 10rem;
  /* background-color: #cccccc; */
  background-color: #00a5ff;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card > .name > h3 {
  /* flex-grow: 1 0 50%; */
  /* height: 50%; */
  margin-bottom: 1rem;
}

.card > .description {
  flex-grow: 1;
}

.card > div {
  color: #fff;
}

.featured {
  display: flex;
  margin: 0 -1rem;
  flex-wrap: wrap;
}
